<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Scheduler.Properties.Settings.DBaseConnectionString"
            connectionString="SERVER=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DBase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>